body {
  box-sizing: border-box;
}

.logo {
  font-size: 5em;
}
nav {
  position: sticky;
  background-color: black;
  top: 12px;
  right: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  list-style-type: none;
  padding: 0px;
}

a:link,
a:visited,
a:focus {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

article img {
  float: left;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.grid {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.photos {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 5px;
}

aside li {
  width: 100px;
  height: 100px;
}

aside img {
  max-width: 100%;
  max-height: 100%;
}

aside h2 {
  margin-left: 40px;
}
